body{
margin: 0px;
font-family: 'Lato', sans-serif;
line-height: 1.5;
}
.root{
    width: 100%;
}
.home_page_root_container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.home_page_inner_container{
    width: 100%;
    height: 100%;
}
.header_container {
    padding: 0px 55px 0px 55px;
}
.header_container{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.75;
    display: flex;
}
.logo {
    width: 90px
}
.header_left_side{
    width: 50%
}
.header_right_side{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.righ_item{
    padding-left: 8px;
    padding-right: 8px;
}
.image-inside-header{
    opacity: 0.75;
}
.first_page{
    background-image: url("./image/yogo.jpg");
    width: 100%;
    height: 615px;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
p.first-page-title {
    font-size: 25px;
    color: #fff;
    text-align: center;
}
.first-page-descr-contianer{
    max-width: 390px;
    font-size: 15px;
    color: #fff;
}
.first_text_box{
    width: 100%;
    height: 100%;
}
.first_page_content{
    align-self: center;
    height: calc(100% - 36px);
    justify-content: center;
    text-align: center;
    display: flex;
}
.image_page{
    padding-bottom: 24px;
    padding-top: 24px;
}
.image_page,.profile_image{
    display: flex;
    justify-content: center;
}
.finalPage_box{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.Footer_container {
    text-align: center;
    background-color: #333;;
}
.footer_option {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.footer_socical_icon {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 12px;
}
.MuiAvatar-root.MuiAvatar-circular.facebook.MuiAvatar-colorDefault,
.MuiAvatar-root.MuiAvatar-circular.insta.MuiAvatar-colorDefault,
.MuiAvatar-root.MuiAvatar-circular.youtupe.MuiAvatar-colorDefault,
.MuiAvatar-root.MuiAvatar-circular.twitter.MuiAvatar-colorDefault {
    margin-left: 12px;
    margin-right: 12px;
}
.footer_socical_icon .MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #ffffff;
}
.facebook svg.MuiSvgIcon-root {
    color: blue;
}
.insta svg.MuiSvgIcon-root {
    color: #de2a8b;
}
.youtupe svg.MuiSvgIcon-root {
    color: red;
}
.twitter svg.MuiSvgIcon-root {
    color: #156df1;
}

/*finalpage*/
.MuiGrid-root.finalPage.MuiGrid-container {
    background-color: #f8f8f8;
    /* padding-bottom: 24px;
    padding-top: 24px; */
}
.profile_image .MuiAvatar-root.MuiAvatar-circular {
    margin-left: 12px;
    margin-right: 12px;
}
.profile_image {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
    transform:scale(1.0);
    transition: transform 0.5s;
}

.profile_image:hover{
    transform:scale(1.13);
   
}




/*thirdpage*/
.MuiGrid-root.third_page_container.MuiGrid-container.MuiGrid-spacing-xs-2{
    background-color: #f8f8f8;
    padding-bottom: 12px;
    padding-top: 12px;
}
.third_page_image {
    display: flex;
    justify-content: end;
}
.third_page_image img {
    width: 80%;

}
.secound_page_image1,.secound_page_image {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}
.secound_page_image1 img {
    width: 25%;
    box-shadow: 0 16px 0px 7px #ef1789;
}
.secound_page_image img {
    width: 40%;
    padding: 0px;
    box-shadow: 35px 25px #f55aac;
}
.MuiGrid-root.\31 st_row.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-6 {
    padding-bottom: 24px;
    padding-top: 24px;
}
.MuiGrid-root.\32 nd_row.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-6 ,.final_page_title{
    padding-bottom: 24px;
    padding-top: 24px;
}

.Footer_container,.MuiGrid-root.finalPage.MuiGrid-container{
    padding: 45px
}

.MuiGrid-root.finalPage.MuiGrid-container {
    justify-content: center;
}
.final_page_desc,.finalPage,.timeTable_page{
    text-align: center;
}
.profiledesc p ,.profiledesc h5{
    margin: 0px
}
.active_iamge.profile_image {
    display: block;
}

.active_iamge .MuiAvatar-root.MuiAvatar-circular {
    margin-bottom: 20px;
    width: 65px;
    height: 65px;  
}

.MuiGrid-root.\31 st_row.left_image.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-6 {
    align-self: center;
}

.all_description_text{
font-size: 15px;
color: #888888;
line-height: 1.8;
}
.all_description_text_color{
color:#FF3481;
font-size: 18px;
line-height: 1.3;
}
.timeTable_page_inner_container h3,h3.final_page_title{
    font-size: 30px;
}

.third_page_title .MuiAvatar-root.MuiAvatar-circular {
    width: 55px;
    height: 55px;
    margin-left: 6px;
}
.page_loaded,.page-load-third-part ,#secondPage , .page-load-third-part {
    padding: 50px 80px 0px 80px;
}
.page-load-secound-part {
    background-color: #f8f8f8;
}
.footer_option .righ_item{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: rgb(183 183 183);
   }

   .a-link{
    cursor: pointer;
   }

.firstPage {
    padding-bottom: 50px;
}

/*scrollbar page load*/
.scroll-page-contianer {
    list-style: none;
    position: fixed;
    top: 20%;
    right: 0%;
    transform: translateY(-50%);
    /* display: flex; */
    background-color: #fff;
    width: 12%;
    text-align: center;
    cursor: pointer;
}
.visible-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
a.option-render {
    padding-top: 10px;
}
a.option-render:hover{
    background-color: #f55aac;
    color: #fff;
}
.scroll-page-contianer-image{
    list-style: none;
    position: fixed;
    top: 20%;
    right: 0%;
    width: 30px;
    transform: translateY(-50%);
    transition: right .4s ease;
}
.true-scroll-page-container-image{
    list-style: none;
    position: fixed;
    top: 20%;
    right: 12%;
    width: 30px;
    transform: translateY(-50%);
    transition: right .4s ease;
}

/*footer */
.white-text{
    color:#ffffff;  
}