body{
margin: 0px;
font-family: 'Lato', sans-serif;
line-height: 1.5;
}
.root{
    width: 100%;
}
.home_page_root_container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.home_page_inner_container{
    width: 100%;
    height: 100%;
}
.header_container {
    padding: 0px 55px 0px 70px;
}
.heder-right-item-container .righ_item a {
    text-decoration: none;
    color: black;
}

.contact-page-header.header_container {
    background: #d8d8d8 0% 0% no-repeat;
}
.header_container{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.75;
    display: flex;
}
.logo {
    width: 90px
}
.header_left_side{
    width: 50%
}
.header_right_side{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heder-right-item-container{
    width: 62%;
    display: flex;
    justify-content: flex-end;
}
.righ_item{
    padding-left: 8px;
    padding-right: 8px;
}
.image-inside-header{
    opacity: 0.40;
}
.first_page{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("./image/yogo.jpg"); */
    background-image: url("./image/hero.png");
    /* background-image: url("./image/yogo.jpg"); */
    width: 100%;
    height: 615px;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
p.first-page-title {
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.first-page-descr-contianer{
    /* max-width: 390px; */
    max-width: fit-content;
    font-size: 15px;
    color: #fff;
}
.first_text_box{
    width: 100%;
    height: 100%;
}
.first_page_content{
    align-self: center;
    height: calc(100% - 36px);
    justify-content: center;
    text-align: center;
    display: flex;
}
div#firstPage {
    margin-bottom: 30px;
}
.image_page{
    padding-bottom: 24px;
    padding-top: 24px;
}
.image_page,.profile_image{
    display: flex;
    justify-content: center;
}
.finalPage_box{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.Footer_container {
    text-align: center;
    background-color: #333;;
}
.footer_option {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.footer_socical_icon {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 12px;
}
.MuiAvatar-root.MuiAvatar-circular.facebook.MuiAvatar-colorDefault,
.MuiAvatar-root.MuiAvatar-circular.insta.MuiAvatar-colorDefault,
.MuiAvatar-root.MuiAvatar-circular.youtupe.MuiAvatar-colorDefault,
.MuiAvatar-root.MuiAvatar-circular.twitter.MuiAvatar-colorDefault {
    margin-left: 12px;
    margin-right: 12px;
}
.footer_socical_icon .MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #ffffff;
}
.facebook svg.MuiSvgIcon-root {
    color: blue;
}
.insta svg.MuiSvgIcon-root {
    color: #de2a8b;
}
.youtupe svg.MuiSvgIcon-root {
    color: red;
}
.twitter svg.MuiSvgIcon-root {
    color: #156df1;
}

/*finalpage*/
.MuiGrid-root.finalPage.MuiGrid-container {
    background-color: #f8f8f8;
    /* padding-bottom: 24px;
    padding-top: 24px; */
}
.profile_image .MuiAvatar-root.MuiAvatar-circular {
    margin-left: 12px;
    margin-right: 12px;
}
.profile_image {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
    transform:scale(1.0);
    transition: transform 0.5s;
}

.profile_image:hover{
    transform:scale(1.13);
   
}




/*thirdpage*/
.MuiGrid-root.third_page_container.MuiGrid-container.MuiGrid-spacing-xs-2{
    background-color: #f8f8f8;
    /* background-color: ##fbf2f2; */
    padding-bottom: 12px;
    padding-top: 12px;
}
.third_page_image {
    display: flex;
    justify-content: flex-start;
}
.third_page_image img {
    width: 80%;

}
.secound_page_image {
    margin-bottom: 55px;
}
.secound_page_image1 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 55px;
}
.secound_page_image1 img {
    width: 300px;
    box-shadow: 0 16px 0px 7px #ef1789;
}
.secound_page_image img {
    width: 300px;
    height: 225px;
    padding: 0px;
    box-shadow: 35px 25px #f55aac;
}
.MuiGrid-root.\31 st_row.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-6 {
    padding-bottom: 24px;
    padding-top: 24px;
}
.MuiGrid-root.\32 nd_row.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-6 ,.final_page_title{
    padding-bottom: 24px;
    padding-top: 24px;
}

.Footer_container,.MuiGrid-root.finalPage.MuiGrid-container{
    padding: 45px
}

.MuiGrid-root.finalPage.MuiGrid-container {
    justify-content: center;
}
.final_page_desc,.finalPage,.timeTable_page{
    text-align: center;
}
.profiledesc p ,.profiledesc h5{
    margin: 0px
}
.active_iamge.profile_image {
    display: block;
}

.active_iamge .MuiAvatar-root.MuiAvatar-circular {
    margin-bottom: 20px;
    width: 65px;
    height: 65px;  
}

.MuiGrid-root.\31 st_row.left_image.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-6 {
    align-self: center;
}

.all_description_text{
font-size: 15px;
/* color: #888888; */
color: #717171;
line-height: 1.8;
margin: 6px;
white-space: pre-wrap;
}
.all_description_text_color,.highlight-words,.highlight{
color:#FF3481;
font-size: 18px;
line-height: 1.3;
}
.timeTable_page_inner_container h3,h3.final_page_title{
    font-size: 30px;
}

.third_page_title .MuiAvatar-root.MuiAvatar-circular {
    width: 55px;
    height: 55px;
    margin-left: 6px;
}
.page_loaded,.page-load-third-part ,#secondPage , .page-load-third-part {
    padding: 50px 80px 0px 80px;
}
.page-load-secound-part {
    background-color: #f8f8f8;
}
.footer_option .righ_item{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: rgb(183 183 183);
   }

   .a-link{
    cursor: pointer;
   }

.firstPage {
    padding-bottom: 50px;
}

/*scrollbar page load*/
.scroll-page-contianer {
    list-style: none;
    position: fixed;
    top: 30%;
    right: 0%;
    transform: translateY(-50%);
    /* display: flex; */
    background-color: #fff;
    width: 12%;
    text-align: center;
    cursor: pointer;
}
.visible-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
a.option-render {
    padding-top: 10px;
}
a.option-render:hover{
    background-color: #f55aac;
    color: #fff;
}
a.option-render.active-page {
    background-color: #f55aac;
    color: #ffffff
}
.scroll-page-contianer-image{
    list-style: none;
    position: fixed;
    top: 30%;
    right: 0%;
    width: 30px;
    transform: translateY(-50%);
    transition: right .4s ease;
}
.true-scroll-page-container-image{
    list-style: none;
    position: fixed;
    top: 30%;
    right: 12%;
    width: 30px;
    transform: translateY(-50%);
    transition: right .0s ease;
}

/*footer */
.white-text{
    color:#ffffff;  
}
.Cell-dayOfMonth-27 {
    display: none;
}
p.Cell-dayOfWeek-26 {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.contact-page-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.contact-title,.address-field-root {
    display: flex;
    justify-content: center;
    align-self: center;
}
.please-contact {
    display: flex;
}
.please-contact p.highlight {
    margin-left: 8px;
}
.timeTable_page .makeStyles-appointment-275,.timeTable_page .makeStyles-appointment-279 {
    background-color: rgb(246 100 215);
}
.copy-right-line {
    display: flex;
    color: #bbb9b9;
    height: 4px;
}

.copy-right {
    width: 50%;
    text-align: initial;
}

p.devloper-name{
    width: 50%;
    text-align: end;
}

/*fourth page*/


.MuiImageListItem-root:hover {
    transform:scale(1.0);
    transition: transform 1.5s;;
}

.MuiImageListItem-root:hover {
    transform:scale(0.96);
}
/* animation */
 h3{
    letter-spacing: 2px;
    /* text-decoration: underline;
    text-decoration-color: #d8d8d8;
    text-decoration-thickness: 0.5px;
    animation: mymove 5s infinite; */
} 
h3:hover{
    text-decoration: underline;
    cursor: context-menu;
    text-decoration-color: #d8d8d8;
    text-decoration-thickness: 0.75px;
    animation: mymove 5s infinite;
} 



/* media quer*/
@media only screen and (max-width: 600px) {
    .header_container{
        padding: 0px;
    }

    p.first-page-title {
        font-size: 32px;
        color: #fff;
        text-align: center;
    }

    .MuiGrid-root.third_page_container.MuiGrid-container.MuiGrid-spacing-xs-2{
        /* background-color: #f8f8f8; */
        background-color: #fbf2f2;
        padding-bottom: 12px;
        padding-top: 12px;
    }

    .all_description_text_color, .highlight-words, .highlight {
        color: #FF3481;
        font-size: 15px;
        line-height: 1.3;
    }
    .all_description_text_dark {
        font-size: 15px;
    }
    .makeStyles-container-6 {
        position: relative;
        overflow-y: auto;
        table-layout: fixed;
        margin: 12px;
    }

    
    /* h3{
        text-decoration: underline;
        text-decoration-color: #d8d8d8;
        text-decoration-thickness: 0.5px;
        animation: mymove 5s infinite;
    } */
    .header_left_side {
        width: 35%;
    }
    .header_right_side {
        width: auto;
        font-size: 14px;
    }
    .heder-right-item-container{
        width: auto;
    }
    .page_loaded, .page-load-third-part, #secondPage, .page-load-third-part{
        padding: 0px 8px 0px 8px;
    }
    div#firstPage, .third_page_title h3 {
        text-align: center;
    }
    .secound_page_image {
        margin-bottom: 14px;
        margin-top: 18px;
    }
    .secound_page_image img {
        width: 210px;
        height: 200px;
    }
    .all_description_text {
        text-align: justify;
        margin: 6px;        
    }
    .secound_page_image1,.third_page_image {
        justify-content: center;
    }
    .secound_page_image1 img {
        width: 300px;
    }
    .third_page_title {
        text-align: -webkit-center;
    }
    .footer_option .righ_item{
        padding-left: 0px;
        padding-right: 20px;
    }  
    .Footer_container{
        padding: 12px;
    } 
    .copy-right-line {
        height: auto;
        font-size: 11px;
    }
    .contact-page-container .MuiGrid-root.contact-page.MuiGrid-container.MuiGrid-spacing-xs-2 {
        margin-left: 5px;
        margin-right: 5px;
    }
}
@keyframes mymove {
    from {text-decoration-color: #d8d8d8;}
    to {text-decoration-color: #ef1789;}
  }